<!-- Optional JavaScript -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.appear.js"></script>
<!-- isotop gallery -->
<script src="assets/js/isotope.pkgd.min.js"></script>
<!-- cube portfolio gallery -->
<script src="assets/js/jquery.cubeportfolio.min.js"></script>
<!-- owl carousel slider -->
<script src="assets/js/owl.carousel.min.js"></script>
<!-- text rotate -->
<script src="assets/js/morphext.min.js"></script>
<!-- particles -->
<script src="assets/js/particles.min.js"></script>
<!-- parallax Background -->
<script src="assets/js/parallaxie.min.js"></script>
<!-- fancybox popup -->
<script src="assets/js/jquery.fancybox.min.js"></script>
<!-- fancybox popup -->
<script src="assets/js/wow.js"></script>
<!-- REVOLUTION JS FILES -->
<script src="assets/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION EXTENSIONS -->
<script src="assets/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
<script src="assets/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="assets/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="assets/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="assets/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
<script src="assets/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="assets/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="assets/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="assets/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
<script src="assets/js/youtube.min.js"></script>
<script src="assets/js/script.js"></script>